#product{
    float: left;
    margin: -125px 0px 10px 150px;
    height: 100px;
   width: 100px;

}
body {
    background-image: url('pic.jpeg');
    cursor: url('whisk.cur'), auto;
    text-align: center;
    font-size: 30px;
    text-decoration-color:blue

}
#hot{
  color: #C33C21;
}
