#product{
    float: left;
    margin: -125px 0px 10px 10px;
}
.bg {
    /* The image used */
    background-image: url("pic.jpg");

    /* Full height */
      height: 100%;

    /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
